{% extends 'base.html' %}
{% block content %}

<div class="box">

<div class="container">
  <div class="notification">

    <div class="content-section">


 {% if hours %}

<div class="box">

  <article class="media">

    <div class="media-left">

      <figure class="image is-64x64">

        <img src="https://cdn.pixabay.com/photo/2016/09/02/14/26/doctor-1639328__340.png" alt="Image">
      </figure>

      <figure class="image is-64x64">
      </figure>

    </div>

    <div class="media-content">

      <div class="content">

        <p>
          <strong>{{ hours.user.doctor }}</strong> <small></small> <small></small>

        </p>
        <p>{{ hours.user.doctor.address }}</p>





        <table class="table">
  <thead>
    <tr>
      <th><abbr title="Position"></abbr></th>
      <th>DAYS</th>

      <th><abbr title="Played">FROM</abbr></th>
      <th><abbr title="Won">TO</abbr></th>
<!--      <th><abbr title="Drawn">D</abbr></th>-->
<!--      <th><abbr title="Lost">L</abbr></th>-->
<!--      <th><abbr title="Goals for">GF</abbr></th>-->
<!--      <th><abbr title="Goals against">GA</abbr></th>-->
<!--      <th><abbr title="Goal difference">GD</abbr></th>-->
<!--      <th><abbr title="Points">Pts</abbr></th>-->
<!--      <th>Qualification or relegation</th>-->
    </tr>



  </thead>

  <tfoot>

    <tr>

    </tr>

  </tfoot>

  <tbody>

    <tr>

      <th>1</th>
      <td><a href="#" title="#">Sunday</a> <strong></strong>
      </td>
      <td>{{ hours.user.doctor.sunday_hours_from }}</td>
      <td>{{ hours.user.doctor.sunday_hours_to }}</td>
<!--      <td>12</td>-->
<!--      <td>3</td>-->
<!--      <td>68</td>-->
<!--      <td>36</td>-->
<!--      <td>+32</td>-->
<!--      <td>81</td>-->
<!--      <td>Qualification for the <a href="#" title="2016–17 UEFA Champions League">Champions League group stage</a></td>-->
    </tr>
    <tr>
      <th>2</th>
      <td><a href="#" title="#">Monday</a></td>
      <td>{{ hours.user.doctor.monday_hours_from }}</td>
      <td>{{ hours.user.doctor.monday_hours_to }}</td>
<!--      <td>11</td>-->
<!--      <td>7</td>-->
<!--      <td>65</td>-->
<!--      <td>36</td>-->
<!--      <td>+29</td>-->
<!--      <td>71</td>-->
<!--      <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td>-->
    </tr>
    <tr>
      <th>3</th>
      <td><a href="#" title="#">Tuesday</a></td>
      <td>{{ hours.user.doctor.tuesday_hours_from }}</td>
      <td>{{ hours.user.doctor.tuesday_hours_to }}</td>
<!--      <td>13</td>-->
<!--      <td>6</td>-->
<!--      <td>69</td>-->
<!--      <td>35</td>-->
<!--      <td>+34</td>-->
<!--      <td>70</td>-->
<!--      <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage" title="2016–17 UEFA Champions League">Champions League group stage</a></td>-->
    </tr>

    <tr>
      <th>4</th>
      <td><a href="#" title="#">Wednesday</a></td>
      <td>{{ hours.user.doctor.wednesday_hours_from }}</td>
      <td>{{ hours.user.doctor.wednesday_hours_to }}</td>
<!--      <td>9</td>-->
<!--      <td>10</td>-->
<!--      <td>49</td>-->
<!--      <td>35</td>-->
<!--      <td>+14</td>-->
<!--      <td>66</td>-->
<!--      <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Group_stage" title="2016–17 UEFA Europa League">Europa League group stage</a></td>-->
    </tr>

          <tr>
      <th>5</th>
      <td><a href="#" title="#">Thursday</a></td>
      <td>{{ hours.user.doctor.thursday_hours_from }}</td>
      <td>{{ hours.user.doctor.thursday_hours_to }}</td>
<!--      <td>9</td>-->
<!--      <td>10</td>-->
<!--      <td>49</td>-->
<!--      <td>35</td>-->
<!--      <td>+14</td>-->
<!--      <td>66</td>-->
<!--      <td>Qualification for the <a href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Europa_League#Group_stage" title="2016–17 UEFA Europa League">Europa League group stage</a></td>-->
    </tr>




      </div>
      <nav class="level is-mobile">

        <div class="level-left">

<!--          <a class="level-item" aria-label="reply">-->
<!--            <span class="icon is-small">-->
<!--              <i class="fas fa-reply" aria-hidden="true"></i>-->
<!--            </span>-->
<!--          </a>-->
<!--          <a class="level-item" aria-label="retweet">-->
<!--            <span class="icon is-small">-->
<!--              <i class="fas fa-retweet" aria-hidden="true"></i>-->
<!--            </span>-->
<!--          </a>-->
<!--          <a class="level-item" aria-label="like">-->
<!--            <span class="icon is-small">-->
<!--              <i class="fas fa-heart" aria-hidden="true"></i>-->
<!--            </span>-->
<!--          </a>-->



        </div>



      </nav>



    </div>




  </article>

</div>


{%endif%}

</div>


</div>


  </div>

</div>

{% endblock %}

