{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="box">
<div class="container">
  <div class="notification">
    <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><span class="icon is-small is-left">
                <div><i class="fas fa-user"></i></div>
    </span>  Log In</legend>

            {{ form|crispy }}

        </fieldset>
        <div class="field">
  <div><p class="control">
    <button class="button is-success" type="submit">
      Login
    </button>
  </p>
      </div>
</div>
            <div class="border-top pt-3">
        <small class="text-muted">
            Need To Register? <a class="ml-2" href="{% url 'doctor-register' %}">Sign Up Now</a>
        </small>
    </div>
        </form>
</div>


</div>
  </div>

</div>







{% endblock %}

<!--<div class="content-section">-->
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        <fieldset class="form-group">-->
<!--            <legend class="border-bottom mb-4">Log In</legend>-->
<!--            {{ form|crispy }}-->
<!--        </fieldset>-->
<!--        <div class="form-group">-->
<!--            <button class="btn btn-outline-info" type="submit">Login</button>-->
<!--        </div>-->
<!--    </form>-->
<!--    -->
<!--    <div class="border-top pt-3">-->
<!--        <small class="text-muted">-->
<!--            Need To Register? <a class="ml-2" href="{% url 'register' %}">Sign Un Now</a>-->
<!--        </small>-->
<!--    </div>-->
<!--</div>-->
