{% extends 'base.html' %}

    {% block title %}
        <title>Home Page</title>
    {% endblock title %}

    {% block content %}

<main role="main">
      <section class="hero">
        <div class="full-width hero-body has-background-light h-100" id="background-jumbo">
          <div class="container content">
            <h1 class="title">
              My Health in One Portal
            </h1>
            <p>

            </p>
            <p>
              <a class="button is-dark is-normal" href="#" role="button"
                >Learn more &raquo;</a>
            </p>
          </div>
        </div>
      </section>
      <div class="section">
        <div class="container">
          <!-- Example row of columns -->
          <div class="columns">
            <div class="column content">
              <h2><i class="far fa-clock"></i> Easy Scheduling</h2>
              <p>
                Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,
                egestas eget quam. Vestibulum id ligula porta felis euismod
                semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus.
              </p>
              <p>
                <a class="button is-info is-light" href="#" role="button"
                  >View details &raquo;</a
                >
              </p>
            </div>
            <div class="column content">
              <h2><i class="fas fa-trophy"></i> High Quality Service</h2>
              <p>
                Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,
                egestas eget quam. Vestibulum id ligula porta felis euismod
                semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus.
              </p>
              <p>
                <a class="button is-info is-light" href="#" role="button"
                  >View details &raquo;</a
                >
              </p>
            </div>
            <div class="column content">
              <h2><i class="fas fa-hospital"></i> Modern Medical Center</h2>
              <p>
                Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,
                egestas eget quam. Vestibulum id ligula porta felis euismod
                semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus.
              </p>
              <p>
                <a class="button is-info is-light" href="#" role="button"
                  >View details &raquo;</a
                >
              </p>
            </div>

          </div>




          <!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Meet the team</h2>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5"></p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://cdn.pixabay.com/photo/2014/04/03/10/32/user-310807_960_720.png" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Pr Lea Levy</h5>
      <p class="text-uppercase blue-text"><strong>Medical Director</strong></p>
      <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci sed quia non numquam modi tempora eius.</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://cdn.pixabay.com/photo/2014/04/03/10/32/businessman-310819_960_720.png" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Lior Amsallem</h5>
      <p class="text-uppercase blue-text"><strong>CEO</strong></p>
      <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
        doloremque rem laudantium totam aperiam.</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://cdn.pixabay.com/photo/2014/04/03/10/32/user-310807_960_720.png" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Ginat Bensussan</h5>
      <p class="text-uppercase blue-text"><strong>CFO</strong></p>
      <p class="grey-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim est fugiat nulla id eu laborum.</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="https://cdn.pixabay.com/photo/2014/04/03/10/32/businessman-310819_960_720.png" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">David Golan</h5>
      <p class="text-uppercase blue-text"><strong>Backend developer</strong></p>
      <p class="grey-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur
        totam officia voluptates perferendis voluptatibus aut.</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.1 -->


        </div>
        </div>
        <!-- /container -->
    </main>




<style>
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: auto;
  width: 100%;
}


.hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 3rem;
}


<!--div {-->
<!--    display: block;-->
<!--    padding-right: 0px;-->
<!--    padding-left: 0px;-->
<!--    margin-right: 0px;-->
<!--    margin-left: 0px;-->

<!--}-->
<!--.section {-->
<!--    padding: 3rem 3rem;-->
<!--}-->

.container{
<!--  width:100%;-->
<!--  margin-right: 0rem;-->
<!--  margin-left: 0rem;-->
<!--  position: sticky;-->
}

h1 {

  color: #373fff;
}

#background-jumbo {
    width: 100%;
    margin: auto;
    background-image: url("https://cdn.pixabay.com/photo/2014/12/10/20/56/medical-563427_960_720.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.column content{
    justify-content: center;
  }


</style>

    {% endblock content %}