{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="box">
<div class="container">
  <div class="notification">
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
                       <legend class="border-bottom mb-4"><span class="icon is-small is-left">
                           <div><i class="fas fa-user"></i></div>
    </span>  Register</legend>
<!--            {{ form|crispy }}-->
            <p> {{ form.first_name|as_crispy_field }}</p>
            {{ form.last_name|as_crispy_field }}
            {{ form.username|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            {{ form.password1|as_crispy_field }}
            {{ form.password2|as_crispy_field }}
                    <p class="control">
    <button class="button is-success" type="submit">
      Register
    </button></p>
        </fieldset>




 <div class="border-top pt-3">
        <small class="text-muted">
            Already Registered? <a class="ml-2" href="{% url 'user-login' %}">Sign In</a>
        </small>
    </div>
    </form>

</div>

  </div>

</div>

</div>

{% endblock %}
