<!--{% extends 'base.html' %}-->
<!--{% load static %}-->


<!--{% block content %}-->


<!--<div class="content">-->
<!--		<div class="contact-profile">-->

<!--			<p>{{ user.get_full_name }}</p>-->

<!--		</div>-->

<!--    <div class="messages">-->
<!--			<ul id="chat-log">-->
<!--				<li class="sent">-->
<!--					<p>Some message</p>-->
<!--				</li>-->
<!--				<li class="replies">-->
<!--					<p>Another message</p>-->
<!--				</li>-->
<!--            </ul>-->
<!--    </div>-->


<!--        <div class="message-input">-->
<!--			<div class="wrap">-->
<!--			<input type="text" placeholder="Write your message..." />-->

<!--			<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>-->
<!--			</div>-->
<!--		</div>-->
<!--</div>-->


<!--&lt;!&ndash;    <textarea id="chat-log" cols="100" rows="20"></textarea><br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input id="chat-message-input" type="text" size="100"><br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input id="chat-message-submit" type="button" value="Send">&ndash;&gt;-->
<!--    <script src="{% static 'reconnecting-websocket.js' %}"></script>-->
<!--&lt;!&ndash;    {{ room_name|json_script:"room-name" }}&ndash;&gt;-->
<!--    <script>-->
<!--&lt;!&ndash;        const roomName = JSON.parse(document.getElementById('room-name').textContent);&ndash;&gt;-->


<!--        const roomName = {{ room_name_json }};-->
<!--        const username = {{ username }};-->

<!--        const chatSocket = new ReconnectingWebSocket(-->
<!--            'ws://'-->
<!--            + window.location.host-->
<!--            + '/ws/chat/'-->
<!--            + roomName-->
<!--            + '/'-->
<!--        );-->

<!--        chatSocket.onopen = function(e) {-->
<!--            fetchMessages();-->
<!--         }-->


<!--        chatSocket.onmessage = function(e) {-->
<!--            var data = JSON.parse(e.data);-->
<!--            if (data['command'] === 'message') {-->
<!--                for (let i=0; i<data['message'].length; i++){-->
<!--                    createMessage(data['message'][i];-->
<!--                    }-->
<!--                } else if (data['command'] === 'new_message'){-->
<!--                    createMessage(data['message']);-->
<!--                }-->
<!--        };-->

<!--        chatSocket.onclose = function(e) {-->
<!--            console.error('Chat socket closed unexpectedly');-->
<!--        };-->


<!--        document.querySelector('#chat-message-input').onkeyup = function(e) {-->
<!--            if (e.keyCode === 13) {  // enter, return-->
<!--                document.querySelector('#chat-message-submit').click();-->
<!--            }-->
<!--        };-->

<!--        document.querySelector('#chat-message-submit').onclick = function(e) {-->
<!--            const messageInputDom = document.getElementById('chat-message-input');-->
<!--            const message = messageInputDom.value;-->
<!--            chatSocket.send(JSON.stringify({-->
<!--                'message': message,-->
<!--                'command':'new_message'-->
<!--                'from': username-->
<!--            }));-->
<!--            messageInputDom.value = '';-->
<!--        };-->




<!--&lt;!&ndash;        chatSocket.onmessage = function(e) {&ndash;&gt;-->
<!--&lt;!&ndash;            const data = JSON.parse(e.data);&ndash;&gt;-->
<!--&lt;!&ndash;            const message = data['message'];&ndash;&gt;-->
<!--&lt;!&ndash;            const author = message['author'];&ndash;&gt;-->
<!--&lt;!&ndash;            const msgListTag = document.createElement('li');&ndash;&gt;-->
<!--&lt;!&ndash;            const pTag = document.createElement('p');&ndash;&gt;-->
<!--&lt;!&ndash;            pTag.textContent = message.content;&ndash;&gt;-->









<!--        function fetchMessages() {-->
<!--            chatSocket.send(JSON.stringify({'command': 'fetch_messages'}));-->
<!--            }-->

<!--        function createMessage(data) {-->
<!--            const author = data['author'];-->
<!--            const msgListTag = document.createElement('li');-->
<!--            const pTag = document.createElement('p');-->
<!--            pTag.textContent = data.content;-->

<!--        if (author == username) {-->
<!--                msgListTag.className = 'sent';-->
<!--            } else {-->
<!--            msgListTag.className = 'replies';-->
<!--            }-->
<!--            msgListTag.appendChild(pTag);-->
<!--            document.querySelector('#chat-log').appendChild(msgListTag);-->

<!--&lt;!&ndash;            value += (data.message + '\n');&ndash;&gt;-->
<!--        };-->
<!--    </script>-->

<!--<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>-->
<!--<script >$(".messages").animate({ scrollTop: $(document).height() }, "fast");-->

<!--$("#profile-img").click(function() {-->
<!--	$("#status-options").toggleClass("active");-->
<!--});-->

<!--$(".expand-button").click(function() {-->
<!--  $("#profile").toggleClass("expanded");-->
<!--	$("#contacts").toggleClass("expanded");-->
<!--});-->

<!--$("#status-options ul li").click(function() {-->
<!--	$("#profile-img").removeClass();-->
<!--	$("#status-online").removeClass("active");-->
<!--	$("#status-away").removeClass("active");-->
<!--	$("#status-busy").removeClass("active");-->
<!--	$("#status-offline").removeClass("active");-->
<!--	$(this).addClass("active");-->

<!--	if($("#status-online").hasClass("active")) {-->
<!--		$("#profile-img").addClass("online");-->
<!--	} else if ($("#status-away").hasClass("active")) {-->
<!--		$("#profile-img").addClass("away");-->
<!--	} else if ($("#status-busy").hasClass("active")) {-->
<!--		$("#profile-img").addClass("busy");-->
<!--	} else if ($("#status-offline").hasClass("active")) {-->
<!--		$("#profile-img").addClass("offline");-->
<!--	} else {-->
<!--		$("#profile-img").removeClass();-->
<!--	};-->

<!--	$("#status-options").removeClass("active");-->
<!--});-->

<!--function newMessage() {-->
<!--	message = $(".message-input input").val();-->
<!--	if($.trim(message) == '') {-->
<!--		return false;-->
<!--	}-->
<!--	$('<li class="sent"><img src="#" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));-->
<!--	$('.message-input input').val(null);-->
<!--	$('.contact.active .preview').html('<span>You: </span>' + message);-->
<!--	$(".messages").animate({ scrollTop: $(document).height() }, "fast");-->
<!--};-->

<!--$('.submit').click(function() {-->
<!--  newMessage();-->
<!--});-->

<!--$(window).on('keydown', function(e) {-->
<!--  if (e.which == 13) {-->
<!--    newMessage();-->
<!--    return false;-->
<!--  }-->
<!--});-->
<!--//# sourceURL=pen.js-->
<!--</script>-->

<!--{% endblock content %}-->

<!--&lt;!&ndash;&lt;!&ndash; chat/templates/chat/index.html &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html>&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="utf-8"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Chat Rooms</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;    What chat room would you like to enter?<br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input id="room-name-input" type="text" size="100"><br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input id="room-name-submit" type="button" value="Enter">&ndash;&gt;-->

<!--&lt;!&ndash;    <script>&ndash;&gt;-->
<!--&lt;!&ndash;        document.querySelector('#room-name-input').focus();&ndash;&gt;-->
<!--&lt;!&ndash;        document.querySelector('#room-name-input').onkeyup = function(e) {&ndash;&gt;-->
<!--&lt;!&ndash;            if (e.keyCode === 13) {  // enter, return&ndash;&gt;-->
<!--&lt;!&ndash;                document.querySelector('#room-name-submit').click();&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;        };&ndash;&gt;-->

<!--&lt;!&ndash;        document.querySelector('#room-name-submit').onclick = function(e) {&ndash;&gt;-->
<!--&lt;!&ndash;            var roomName = document.querySelector('#room-name-input').value;&ndash;&gt;-->
<!--&lt;!&ndash;            window.location.pathname = '/chat/' + roomName + '/';&ndash;&gt;-->
<!--&lt;!&ndash;        };&ndash;&gt;-->
<!--&lt;!&ndash;    </script>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->