{% extends 'base.html' %}



{% block content %}



{% for n in news %}

<div class="box">
<div class="container">
  <div class="notification">
    <div class="content-section">









<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="{{n.image_url}}" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
            <strong>{{n.title}}</strong> <p><small>By {{n.author}}</small></p>

          <p>{{n.description}}
        </p><a class="button is-outlined" href="{% url 'news-detail' n.id %}">Read More...</a>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a href="{{n.url}}" class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-link" aria-hidden="true"></i>
            </span> Link to original article
          </a>
          <p class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-calendar" aria-hidden="true"></i>
            </span>  {{n.published_date}}
          </p>
          <a class="level-item" aria-label="like">
<!--            <span class="icon is-small">-->
<!--              <i class="fas fa-heart" aria-hidden="true"></i>-->
<!--            </span>-->
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>




</div>


</div>
  </div>

</div>




{% endfor %}


{% endblock %}




